:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  --container-color: #111111;
  --sidebar-color: #242424;
  --font-white-color: #ffffff;
  --font-black-color: #000000;
  --buttons-color: #103f3f;
  --buttons-black-color: #292929;
  --input-color: #252525;
  --light-blue: #60cccc;

  color: var(--font-white-color);
  background-color: var(--sidebar-color);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 16px;
}

a {
  text-decoration: none;
}

u1,
o1,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
